:root {
	--wht-color: #ffffff;
	--nowht-color: #f5f4fa;
	--dark-color: #212121;
	--grey-color: #757575;
	--blue-color: #188ce8;
	--more-blue-color: #2196f3;
	--backgr-color: #2f303a;
	--border-color: #ececec;
	--cl--border-color: #afb1b8;
	--fter-btn-backgr-color: rgba(255, 255, 255, 0.1);
	--basic-font: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}
ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
	display: block;
}
h1,
h2,
h3,
p {
	margin: 0;
}
h2 {
	margin-bottom: 50px;
}
body {
	margin-left: auto;
	margin-right: auto;
	font-family: var(--basic-font);
	font-weight: 400;
	letter-spacing: 0.03em;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
section {
	padding: 94px 0;
}

.header {
	padding: 24px 0;
	border-bottom: 1px solid var(--border-color);
	.container {
		display: flex;
		align-items: center;
	}
	.header-logo {
		margin-right: 93px;
	}
	/* Підкреслення як у дебіла? */
	.header-nav-list {
		display: flex;
		flex-direction: row;
		gap: 50px;
		a {
			position: relative;
		}
		a::after {
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			background-color: var(--more-blue-color);
			position: absolute;

			bottom: -28px;
			transform: scaleX(0);
			transition: transform 0.3s ease;
		}
		/* as active */
		a:hover::after {
			transform: scaleX(1);
		}
	}
	a {
		font-weight: 500;
		color: var(--dark-color);
		font-size: 14px;
		line-height: 1.17;
		letter-spacing: 0.02em;
	}
	.header-nav-list > li > a:hover,
	.contacts > li > a:hover {
		color: var(--blue-color);
	}
	.contacts {
		display: flex;
		gap: 40px;
		margin-left: auto;
		a {
			display: flex;
			color: var(--grey-color);
			img {
				padding-right: 10px;
				color: var(--grey-color);
			}
		}
	}
}
/* Background */
.hero {
	padding: 200px 0;
	background-color: #c4c4c4;

	text-align: center;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/main/backgr.jpg");

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero-title {
		max-width: 700px;
		margin-bottom: 30px;
		font-weight: 900;
		color: var(--wht-color);
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
	}
	.hero-button {
		padding: 10px 24px;
		background-color: var(--blue-color);
		border-radius: 4px;
		border: none;

		font-weight: 700;
		font-family: var(--basic-font);
		color: var(--wht-color);
		font-size: 16px;
		line-height: 1.875;
		letter-spacing: 0.06em;
	}
}
/* img svg */
.special {
	padding-bottom: 0;
	.special-list {
		display: flex;
		flex-direction: row;
		gap: 30px;
		li {
			max-width: 270px;
			div {
				padding: 25px 100px;
				margin-bottom: 30px;
				background-color: var(--nowht-color);
			}
			h3 {
				font-weight: 700;
				color: var(--dark-color);
				font-size: 14px;
				line-height: 1.17;
				margin-bottom: 10px;
			}
			p {
				color: var(--grey-color);
				font-size: 14px;
				line-height: 1.71;
			}
		}
	}
}
.whatDoing {
	.whatDoing-title {
		text-align: center;

		font-weight: 700;
		color: var(--dark-color);
		font-size: 36px;
		line-height: 1.17;
	}
	.whatDoing-list {
		display: flex;
		justify-content: center;
		gap: 30px;
		li {
			position: relative;
			div {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				background-color: var(--backgr-color);
				opacity: 0.8;
				padding: 27px;

				font-size: 14px;
				font-weight: 700;
				line-height: 1.17;
				text-align: center;
				text-transform: uppercase;

				color: var(--wht-color);
			}
		}
	}
}
/* social media button img changing */
.team {
	background-color: var(--nowht-color);
	.team-title {
		text-align: center;

		font-weight: 700;
		color: var(--dark-color);
		font-size: 36px;
		line-height: 1.17;
	}
	ul {
		display: flex;
		justify-content: center;
	}
	.team-list {
		gap: 30px;
		.team-list-item {
			background-color: var(--wht-color);
			box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			div {
				padding: 30px 32px;
				text-align: center;
				h3 {
					display: flex;
					justify-content: center;

					font-weight: 500;
					color: var(--dark-color);
					font-size: 16px;
					line-height: 1.17;
				}
				p {
					color: var(--grey-color);
					font-size: 16px;
					line-height: 1.17;

					margin-top: 10px;
					margin-bottom: 16px;
				}
				.team-media-list {
					gap: 10px;
					button {
						padding: 12px;
						border-radius: 50%;

						border-width: 0;
						background-color: var(--wht-color);
					}
					button:hover {
						background-color: var(--blue-color);
						img {
							filter: brightness(0) invert(1);
						}
					}
				}
			}
		}
	}
}
.clients {
	h2 {
		text-align: center;
		font-weight: 700;
		color: var(--dark-color);
		font-size: 36px;
		line-height: 1.17;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 30px;
		button {
			padding: 16px 32px;
			border: 1px solid;
			border-radius: 5px;
			border-color: var(--cl--border-color);
			img {
				color: var(--grey-color);
			}
		}
		button:hover {
			border-color: var(--more-blue-color);
			img {
				color: var(--blue-color);
			}
		}
	}
}
/* Правки в <a> */
.fter {
	background-color: var(--backgr-color);
	padding: 60px;
	.container {
		display: flex;
	}
	.address-block {
		display: flex;
		flex-direction: column;
		font-style: normal;
		margin-top: 28px;
		.address-a {
			font-size: 14px;
			color: var(--wht-color);
			opacity: 60%;
			line-height: 1.17;

			margin-top: 12px;
		}
		.address-p {
			font-size: 14px;
			color: var(--wht-color);
			line-height: 1.17;
		}
	}
	.media-block {
		padding-left: 70px;
		.media-p {
			font-weight: 700;
			font-size: 14px;
			color: var(--wht-color);
			line-height: 1.17;
			letter-spacing: 0.02em;

			margin-bottom: 20px;
		}
		.media-list {
			display: flex;
			flex-direction: row;
			gap: 10px;
			button {
				padding: 12px;
				border-radius: 50%;
				border-width: 0;

				background-color: var(--fter-btn-backgr-color);
			}
			button:hover {
				background-color: var(--blue-color);
			}
		}
	}
}

/* Портфоліо */
.portfolio {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.filter {
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 10px;
		margin-bottom: 50px;
		.filter-button {
			border-width: 0px;
			background-color: var(--nowht-color);
			padding: 6px 22px;
			border-radius: 5px;

			transition: color 0.3s ease;

			font-family: var(--basic-font);
			font-weight: 500;
			font-size: 16px;
			line-height: 1.625;
		}
		.filter-button:hover {
			background-color: var(--blue-color);
			color: var(--wht-color);
		}
	}
	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		li {
			position: relative;
			max-width: 370px;
			img {
				width: 100%;
			}
			.portfolio-item-overlay {
				display: flex;
				height: 0;
				padding: 0 24px;
				position: absolute;
				overflow: hidden;
				width: 100%;

				background-color: var(--more-blue-color);
				opacity: 0.9;
				top: 0;

				color: var(--wht-color);
				font-size: 18px;
				line-height: 1.55;
				transition: height 0.5s ease-out, padding 0.5s ease-out;
			}
		}
		li:hover {
			box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
			transition: color 1s ease;

			.portfolio-item-overlay {
				padding: 63px 24px;
				height: 294px;
			}
		}

		.portfolio-item-textblock {
			padding: 20px 24px;
			border: 1px solid;
			border-top: 0;
			border-color: var(--border-color);
			h3 {
				font-weight: 700;
				color: var(--dark-color);
				font-size: 18px;
				line-height: 2;
				letter-spacing: 0.06em;
			}
			p {
				color: var(--grey-color);

				font-size: 16px;
				line-height: 1.875;
			}
		}
	}
}
