:root {
	--wht-color: #ffffff;
	--dark-color: #212121;
	--grey-color: #757575;
	--blue-color: #188ce8;
}
/* Заюзати коли розберусь як працює */
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
body {
	max-width: 1600px;
	font-family: "Roboto", sans-serif;
}
/* нормально розташувати */
.header a {
	font-weight: 500;
	color: var(--dark-color);
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 2%;
}
.header a:hover {
	color: var(--blue-color);
}

.hero {
}
.hero h1 {
	font-weight: 900;
	color: var(--wht-color);
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 6%;
}
.hero button {
	background-color: var(--blue-color);
	font-weight: 700;
	color: var(--wht-color);
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 6%;

	/* line-height: normal; */
}
.special {
}
.special h3 {
	font-weight: 700;
	color: var(--dark-color);
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 3%;
}
.special p {
	font-weight: 400;
	color: var(--grey-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 3%;
}

.whatDoing {
}
.whatDoing h2 {
	display: flex;
	justify-content: center;

	font-weight: 700;
	color: var(--dark-color);
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 3%;
}

.team {
}
/* вирівняти по вертикалі */
.team h2 {
	display: flex;
	justify-content: center;

	font-weight: 700;
	color: var(--dark-color);
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 3%;
}
/* вирівняти по вертикалі */
.team img {
}
.team div {
}
.team h3 {
	display: flex;
	justify-content: center;

	font-weight: 500;
	color: var(--dark-color);
	font-size: 16px;
	line-height: 1.17;
	letter-spacing: 3%;
}
.team p {
	display: flex;
	justify-content: center;

	font-weight: 400;
	color: var(--grey-color);
	font-size: 16px;
	line-height: 1.17;
	letter-spacing: 3%;
}
/* social media button test */
.team button {
	border-radius: 10px;
	border-width: 0;
	background-color: white;
	font-family: "Roboto", sans-serif;
}
.team button:hover {
	background-color: #188ce8;
}
/* новий блок з лаб 4 */
.clients {
}
.clients h4 {
	display: flex;
	flex-direction: column;

	font-weight: 700;
	color: var(--dark-color);
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 3%;
}
.fter {
	background-color: #212121;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 3%;
}
/* Відступ зліва */
.fter address {
	font-style: normal;
}
.fter p {
	padding-left: 251px;
	font-size: 14px;
	color: white;
	line-height: 16px;
}
.fter a {
	padding-left: 251px;
	font-size: 14px;
	color: white;
	opacity: 60%;
	line-height: 16px;
}
/* виправити положення */

/* Портфоліо */

.filter {
}
.filter button {
	border-radius: 4px;
	border-width: 0px;
	background-color: #f5f4fa;
	padding: 5px, 15px, 5px, 15px;
	transition: color 0.3s ease;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 3%;
}
.filter button:hover {
	background-color: #188ce8;
	color: white;
}

.portfolio {
}
/* border? */
.portfolio h3 {
	font-weight: 700;
	color: var(--dark-color);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 6%;
}
.portfolio p {
	color: var(--grey-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 3%;
}
