@import "../../../default/default";

.clients {
	&__title {
		text-align: center;
		font-weight: 700;
		color: $dark-color;
		font-size: 36px;
		line-height: 1.17em;
	}
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 30px;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 170px;
		padding: 16px 32px;
		border: 1px solid $btn-grey-color;
		border-radius: 5px;
		cursor: pointer;
		background-color: $wht-color;
		transition: border-color $tras-settings;
	}
	&__icon {
		color: $btn-grey-color;
		transition: color $tras-settings;
	}
	&__item:hover {
		border-color: $more-blue-color;
		transition: border-color $tras-settings;
	}
	&__item:hover &__icon {
		color: $more-blue-color;
		transition: color $tras-settings;
	}
}
