$wht-color: #ffffff;
$nowht-color: #f5f4fa;
$dark-color: #212121;
$grey-color: #757575;
$blue-color: #188ce8;
$more-blue-color: #2196f3;
$backgr-color: #2f303a;
$border-color: #ececec;
$btn-grey-color: #afb1b8;
$fter-btn-backgr-color: rgba(255, 255, 255, 0.1);
$basic-font: "Roboto", sans-serif;
$tras-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@mixin mobile {
	@media screen and (max-width: 767px) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: 1200px) {
		@content;
	}
}
