@import "../../../utility/utility";

.portfolio {
	display: flex;

	flex-direction: column;
	justify-content: center;

	&__filter {
		display: flex;
		align-content: center;

		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: 370px;
		gap: 8px;
		row-gap: 15px;
		margin-bottom: 40px;
		@include desktop {
			max-width: 100%;
			flex-wrap: nowrap;
			justify-content: center;
			gap: 10px;
			margin-bottom: 50px;
		}
		@include tablet {
			max-width: 100%;
			flex-wrap: nowrap;
			justify-content: center;
			gap: 10px;
			margin-bottom: 50px;
		}
		&__item {
			&__button {
				border-width: 0px;
				background-color: $nowht-color;
				padding: 6px 22px;
				border-radius: 5px;

				font-family: $basic-font;
				font-weight: 500;
				font-size: 16px;
				line-height: 1.625em;
				letter-spacing: 0.03em;

				transition: color $tras-settings, font-color $tras-settings,
					background-color $tras-settings, box-shadow $tras-settings;
			}
			&__button:hover {
				background-color: $blue-color;
				color: $wht-color;
				box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);

				transition: color $tras-settings, font-color $tras-settings,
					background-color $tras-settings, box-shadow $tras-settings;
			}
		}
	}
}
