@import "../../../utility/utility";

.portfolio {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;

		&__item {
			position: relative;
			max-width: 450px;
			width: 100%;

			&:nth-of-type(odd):last-child {
				margin-right: auto;
			}

			@include desktop {
				max-width: 370px;
			}

			@include tablet {
				max-width: 350px;
			}

			&:hover {
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
				transition: box-shadow $tras-settings;
			}

			&__overlay-container {
				position: relative;
				overflow: hidden;

				&__overlay {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 0 24px;
					position: absolute;
					background-color: rgba(33, 150, 243, 0.9);
					transform: translateY(101%);
					color: $wht-color;
					font-size: 18px;
					line-height: 1.55em;
					transition: transform $tras-settings;
				}

				img {
					width: 100%;
					height: auto;
				}
			}

			&__textblock {
				padding: 20px 24px;
				border: 1px solid;
				border-top: 0;
				border-color: $border-color;

				&__title {
					font-weight: 700;
					color: $dark-color;
					font-size: 18px;
					line-height: 2;
					letter-spacing: 0.06em;
				}

				&__category {
					color: $grey-color;
					font-size: 16px;
					line-height: 1.875em;
				}
			}
		}
	}
}

.active {
	background-color: $active-bg-color; /* Додати ваш колір активної кнопки */
	color: $active-text-color; /* Додати колір тексту */
}

.hide {
	display: none;
}
