@import "../../utility/utility";
@import "../../default/default";

.header {
	padding: 24px 0;
	border-bottom: 1px solid $border-color;
	.container {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 93px;
	}
	&__nav-list {
		display: flex;
		flex-direction: row;
		gap: 50px;
		&__item__link {
			position: relative;
			text-decoration: none;
			transition: color 250ms $tras-settings;
			font-weight: 500;
			color: $dark-color;
			font-size: 16px;
			line-height: 1.17;
			letter-spacing: 0.02em;
			&:hover {
				color: $blue-color;
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 4px;
				background-color: $more-blue-color;
				position: absolute;
				border-radius: 2px;
				bottom: -32px;
				transform: scaleX(0);
				transition: transform 250ms $tras-settings;
			}
			&--active {
				color: $blue-color;
			}
			&:hover::after,
			&--active::after {
				transform: scaleX(1);
			}
		}
	}

	&__contacts {
		display: flex;
		gap: 60px;
		margin-left: auto;
		align-items: center;
		&__item svg {
			color: $grey-color;
		}
		&__link {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.17;
			letter-spacing: 0.02em;

			color: $grey-color;
			transition: color $tras-settings;
		}
		&__link:hover {
			color: $blue-color;
		}
		&__link:hover svg {
			color: $blue-color;
		}
	}
	@include mobile {
		padding: 16px 0;
		&__nav,
		&__contacts {
			display: none;
		}
		&__logo {
			margin: 0;
		}
	}
}
