@import "../../../utility/utility";

.hero {
	padding: 200px 0;
	background-color: $backgr-color;

	text-align: center;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../../images/main/backgr.jpg");

	background-size: 1600px 600px;
	background-position: center;
	background-repeat: no-repeat;

	@include mobile {
		padding: 118px 0;
		height: auto;
		background-size: cover;
	}
	@include tablet {
		padding: 118px 0;
		height: auto;
		background-size: cover;
	}
	&__title {
		max-width: 700px;
		margin-bottom: 30px;
		font-weight: 900;
		color: $wht-color;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		justify-self: center;
		@include mobile {
			font-size: 26px;
			max-width: 360px;
		}
		@include tablet {
			font-size: 26px;
			max-width: 360px;
		}
	}
	&__button {
		padding: 10px 24px;
		background-color: $blue-color;
		border-radius: 4px;
		border: none;
		font-weight: 700;
		font-family: $basic-font;
		color: $wht-color;
		font-size: 16px;
		line-height: 1.875;
		letter-spacing: 0.06em;
	}
}
